
/* CSS styles */
.main-container {
    background-image: url('https://res.cloudinary.com/dqt58wdlv/image/upload/v1747759518/premium_photo-1661962542692-4fe7a4ad6b54_wwnb8m.jpg');
    height: 100vh;
    background-size: cover;
}

.main-card-container {
    background-color: lightblue;
    border-radius: 20px;
    text-align: center;
    padding: 10px;
    margin-bottom: 15px;
}

.explore-img {
    height: 120px;
    width: 90px;
}
            
        
